In [8]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("/home/pict/Documents/Iris.csv")

In [14]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [17]:
df['SepalWidthCm'].min()

2.0

In [27]:
df2=df.assign(min_max= (df.SepalWidthCm - df['SepalWidthCm'].min())/(df['SepalWidthCm'].max()-df['SepalWidthCm'].min()))

In [29]:
df2=df2.assign(z_score= (df.SepalWidthCm- df['SepalWidthCm'].mean())/ df['SepalWidthCm'].std() )

In [34]:
df2=df2.assign(feature_scaling= df.SepalWidthCm/ df['SepalWidthCm'].abs().max())

In [35]:
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,min_max,z_score,feature_scaling
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.625000,1.028611,0.795455
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.416667,-0.124540,0.681818
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.500000,0.336720,0.727273
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.458333,0.106090,0.704545
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.666667,1.259242,0.818182
...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,0.416667,-0.124540,0.681818
146,147,6.3,2.5,5.0,1.9,Iris-virginica,0.208333,-1.277692,0.568182
147,148,6.5,3.0,5.2,2.0,Iris-virginica,0.416667,-0.124540,0.681818
148,149,6.2,3.4,5.4,2.3,Iris-virginica,0.583333,0.797981,0.772727
149,150,5.9,3.0,5.1,1.8,Iris-virginica,0.416667,-0.124540,0.681818

In [22]:
df2.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
min_max                  0.0
dtype: object

In [20]:
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,min_max
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.625000
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.416667
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.500000
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.458333
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.666667
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,0.416667
146,147,6.3,2.5,5.0,1.9,Iris-virginica,0.208333
147,148,6.5,3.0,5.2,2.0,Iris-virginica,0.416667
148,149,6.2,3.4,5.4,2.3,Iris-virginica,0.583333
149,150,5.9,3.0,5.1,1.8,Iris-virginica,0.416667

In [21]:
df2.min()
df2.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
min_max                     1.0
dtype: object